In [3]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [4]:
import pandas as pd

In [5]:
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
data = pd.read_csv(url)

In [7]:
print("Columns in the dataset:")
print(data.columns)

print("\nTotal number of rows in the dataset:")
print(len(data))

Columns in the dataset:
Index(['row_n', 'id', 'name', 'gender', 'species', 'birthday', 'personality',
       'song', 'phrase', 'full_id', 'url'],
      dtype='object')

Total number of rows in the dataset:
391

In [8]:
# Observations are the entries of a data set and they represent a single case of the data being collected.

In [9]:
# Variables are the characteristics that give us important information about each observation.

In [21]:
categorical_summary = villagers_df['species'].value_counts()
print(categorical_summary)

species
cat          23
rabbit       20
frog         18
squirrel     18
duck         17
dog          16
cub          16
pig          15
bear         15
mouse        15
horse        15
bird         13
penguin      13
sheep        13
elephant     11
wolf         11
ostrich      10
deer         10
eagle         9
gorilla       9
chicken       9
koala         9
goat          8
hamster       8
kangaroo      8
monkey        8
anteater      7
hippo         7
tiger         7
alligator     7
lion          7
bull          6
rhino         6
cow           4
octopus       3
Name: count, dtype: int64

In [38]:
summary_female = villagers_df['gender'].value_counts()
print(summary_female)

gender
male      204
female    187
Name: count, dtype: int64

In [39]:
summary_personality = villagers_df['personality'].value_counts()
print(summary_personality)

personality
lazy      60
normal    59
cranky    55
snooty    55
jock      55
peppy     49
smug      34
uchi      24
Name: count, dtype: int64

In [40]:
non_numeric_columns = villagers_df.select_dtypes(exclude=[int, float]).columns
print("Non-numeric columns:", non_numeric_columns)

Non-numeric columns: Index(['id', 'name', 'gender', 'species', 'birthday', 'personality', 'song',
       'phrase', 'full_id', 'url'],
      dtype='object')

In [41]:
# these are the non-numeric values of my data set

In [42]:
missing_numeric = villagers_df.select_dtypes(include=[int, float]).isna().sum()
print("Missing values in numeric columns:\n", missing_numeric)

Missing values in numeric columns:
 row_n    0
dtype: int64

In [43]:
# there are no missing values in the numeric columns of my data set

In [44]:
print(df.shape)

(391, 11)

In [45]:
print(df.describe)

<bound method NDFrame.describe of      row_n        id      name  gender    species birthday personality  \
0        2   admiral   Admiral    male       bird     1-27      cranky
1        3   agent-s   Agent S  female   squirrel      7-2       peppy
2        4     agnes     Agnes  female        pig     4-21        uchi
3        6        al        Al    male    gorilla    10-18        lazy
4        7   alfonso   Alfonso    male  alligator      6-9        lazy
..     ...       ...       ...     ...        ...      ...         ...
386    475    winnie    Winnie  female      horse     1-31       peppy
387    477  wolfgang  Wolfgang    male       wolf    11-25      cranky
388    480      yuka      Yuka  female      koala     7-20      snooty
389    481      zell      Zell    male       deer      6-7        smug
390    483    zucker    Zucker    male    octopus      3-8        lazy

                song    phrase            full_id  \
0         Steep Hill   aye aye   villager-admiral
1            DJ K.K.  sidekick   villager-agent-s
2         K.K. House   snuffle     villager-agnes
3         Steep Hill   Ayyeeee        villager-al
4        Forest Life  it'sa me   villager-alfonso
..               ...       ...                ...
386         My Place    hay-OK    villager-winnie
387        K.K. Song   snarrrl  villager-wolfgang
388     Soulful K.K.   tsk tsk      villager-yuka
389         K.K. D&B     pronk      villager-zell
390  Spring Blossoms     bloop    villager-zucker

                                                   url
0    https://villagerdb.com/images/villagers/thumb/...
1    https://villagerdb.com/images/villagers/thumb/...
2    https://villagerdb.com/images/villagers/thumb/...
3    https://villagerdb.com/images/villagers/thumb/...
4    https://villagerdb.com/images/villagers/thumb/...
..                                                 ...
386  https://villagerdb.com/images/villagers/thumb/...
387  https://villagerdb.com/images/villagers/thumb/...
388  https://villagerdb.com/images/villagers/thumb/...
389  https://villagerdb.com/images/villagers/thumb/...
390  https://villagerdb.com/images/villagers/thumb/...

[391 rows x 11 columns]>

In [47]:
# The discrepancy between the two functions are the difference in the detail of their outputs.
# df.shape only gives the number of rows and columns. Nothing more.
# df.describe() is the same as df as it provides the full data set. This set can be very overwhelming.

In [48]:
# Attributes are variables that contain the data of an object.

In [49]:
# Methods are functions or actions that an object can perform.

In [50]:
# Error Troubleshooting:

# NameError: We discussed errors related to undefined variables, such as villagers_df and bird, and how to properly reference DataFrame columns and handle method calls in pandas.
# Pandas DataFrame Summaries:

# Numerical Summary: You can use df.describe() to get summary statistics for numerical columns.
# Categorical Summary: Use df['column_name'].value_counts() for summarizing categorical columns.
# General Summary: Use df.info() to get an overview of the DataFrame, including column names, data types, and non-null counts.
# Code Examples:

# We provided examples to view data, handle missing values, and understand the discrepancies between DataFrame size (df.shape) and the output of df.describe().
# Attributes vs. Methods:

# Attributes: Accessed without parentheses (e.g., df.shape).
#Methods: Accessed with parentheses (e.g., df.describe()), perform actions, and can modify the object or return results.

In [51]:
# https://chatgpt.com/c/66e24f96-7024-800b-bc2c-1e36490301f5 (chat log history)

In [52]:
# ‘count’: describes the number of present values
# ‘mean”: describes the average value
# ‘std’: describes standard deviation
# ‘min’: decibels min value
# ’25%’: describes the 25th percentile
# ’50%’: describes the 50th percentile
# ’75%’: describes the 75th percentile
# ‘max’: describes the max value

In [53]:
# Scenario: a data set decribes grades of the weighted assignments for students in STA130
# 1) df.dropna would be preffered if a student dropped a class. The row represnting their data would then be dropped.
# 2) del df['col'] would be preffered if an assigment for some reason was no longer weighted. The column representing the data would then be dropped.
# 3) Applying del df['col'] before df.dropna() when both are used together could be important dropping a column reduces the data size much more than dropping a single row. This way is more efficient.

In [78]:
print(df) # before

     row_n        id birthday personality             song    phrase  \
0        2   admiral     1-27      cranky       Steep Hill   aye aye
1        3   agent-s      7-2       peppy          DJ K.K.  sidekick
2        4     agnes     4-21        uchi       K.K. House   snuffle
3        6        al    10-18        lazy       Steep Hill   Ayyeeee
4        7   alfonso      6-9        lazy      Forest Life  it'sa me
..     ...       ...      ...         ...              ...       ...
386    475    winnie     1-31       peppy         My Place    hay-OK
387    477  wolfgang    11-25      cranky        K.K. Song   snarrrl
388    480      yuka     7-20      snooty     Soulful K.K.   tsk tsk
389    481      zell      6-7        smug         K.K. D&B     pronk
390    483    zucker      3-8        lazy  Spring Blossoms     bloop

               full_id                                                url
0     villager-admiral  https://villagerdb.com/images/villagers/thumb/...
1     villager-agent-s  https://villagerdb.com/images/villagers/thumb/...
2       villager-agnes  https://villagerdb.com/images/villagers/thumb/...
3          villager-al  https://villagerdb.com/images/villagers/thumb/...
4     villager-alfonso  https://villagerdb.com/images/villagers/thumb/...
..                 ...                                                ...
386    villager-winnie  https://villagerdb.com/images/villagers/thumb/...
387  villager-wolfgang  https://villagerdb.com/images/villagers/thumb/...
388      villager-yuka  https://villagerdb.com/images/villagers/thumb/...
389      villager-zell  https://villagerdb.com/images/villagers/thumb/...
390    villager-zucker  https://villagerdb.com/images/villagers/thumb/...

[391 rows x 8 columns]

In [88]:
del df['personality']

In [100]:
df.drop([1, 2]) # after

,row_n,song,phrase,full_id,url
0,2,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
3,6,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
5,8,Surfin' K.K.,guvnor,villager-alice,https://villagerdb.com/images/villagers/thumb/...
6,9,K.K. Chorale,graaagh,villager-alli,https://villagerdb.com/images/villagers/thumb/...
...,...,...,...,...,...
386,475,My Place,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,K.K. Song,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,Soulful K.K.,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,K.K. D&B,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,Spring Blossoms,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

In [ ]:
# df.groupby("col1")["col2"].describe() will give a summary of column 2 defined by the values of column 1

In [3]:
import pandas as pd
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
df = pd.read_csv(url)

In [4]:
print(df)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [5]:
df.groupby("sex")["age"].describe()

        count       mean        std   min   25%   50%   75%   max
sex
female  261.0  27.915709  14.110146  0.75  18.0  27.0  37.0  63.0
male    453.0  30.726645  14.678201  0.42  21.0  29.0  39.0  80.0

In [6]:
# The two describe something fundamentally different because df.decribe() shows missing data and df.groupby("col1")["col2"].describe() groups datat from one column to calculate staistics for another

In [8]:
titanics.csv

NameError: name 'titanics' is not defined

In [9]:
DF.groupby("col1")["col2"].describe()

NameError: name 'DF' is not defined

In [10]:
pd.read_csv(url

SyntaxError: incomplete input (4098100527.py, line 1)

In [11]:
df.groupby("col1")["col2"].describle()

KeyError: 'col1'

In [12]:
titanic_df.groupby("Sex")["Age"].describe()

NameError: name 'titanic_df' is not defined

In [13]:
titanic_df.groupby(sex)[age].describe()

NameError: name 'titanic_df' is not defined

In [14]:
# I found it was easiest to work in a Chatbot session to fix my errors. It was helpful that Cjatbot provided me with a clear explination and actual code to help me fix the problems that I was having. I found the google search to be unhelpful and a long prcess.

In [15]:
# In this session, we covered the following topics:
# Summary statistics from df.describe(): I explained the meaning of the summary statistics like count, mean, std, min, 25%, 50%, 75%, and max that are provided by the describe() method in pandas.
# Understanding df.groupby("col1")["col2"].describe(): I described how this method works by grouping data based on the unique values in "col1" and then calculating the descriptive statistics for "col2" for each group. We also looked at the specific statistics provided by describe() within each group.

In [18]:
# https://chatgpt.com/c/66e263bb-5968-800b-932e-fe46184b241e (chat log history)